# OS files
Thumbs.db
.DS_Store
*.lnk

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Build outputs
bin/
obj/
build/
dist/

# Dependencies
node_modules/
packages/

# Logs
*.log
logs/

# Runtime data
pids/
*.pid
*.seed

# Environment files
.env
.env.local
.venv

#cache
__pycache__


